@model IEnumerable<Congratulator.Models.UserDbModel>

@{
    ViewData["Title"] = "Ближайшие дни рождения";
}
<div class="container">

    <div>
        <h4>Сортировка</h4>
        @Html.ActionLink("Имя", "Near", new { sort = ViewBag.NameSortParm })
        @Html.ActionLink("Фамилия", "Near", new { sort = ViewBag.SurnameSortParm })
        @Html.ActionLink("Дата рождения", "Near", new { sort = ViewBag.BDateSortParm })
    </div>

    <div class="row">

        @foreach (var user in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 d-flex" style="width: 25rem">
                    <img class="card-img-top flex-fill" src="~/images/@user.Avatar" alt="@user.Name">
                    <div class="card-body overflow-hidden">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => user.Name) @Html.DisplayFor(modelItem => user.Surname)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => user.BDate)</p>
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Изменить</a>
                        <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-primary">Подробнее</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>

        }

    </div>
</div>